body { 
      padding-top: 70px; 
    }
    
    .jumbotron {
      color: #2c3e50;
      background: #ecf0f1;

    }
    .navbar-inverse {
      background: #6ca3fc;
      color: white;
    }
    .navbar-inverse .navbar-brand, .navbar-inverse a{
      color: #010d21;
    }
    .navbar-inverse .navbar-nav>li>a {
      color: #010d21;
    } 
